@model List<string>
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error creating an user</h2>

<div class="col-md-4">
    <p>You have the following errors:</p>
    @foreach (var item in (ViewData["Errors"] as List<string>))
    {
        <p>@Html.DisplayFor(modelItem => item)</p>
        <br />
    }
</div>

<a asp-action="Create">Back to create page</a>